# Node
node_modules/
.next/
npm-debug.log
yarn-error.log

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.local

# Docker
*.pid
*.log
docker-compose.override.yml

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/
coverage/

# Copilot logs
.copilot/*.tmp

# Latex log, temporary files
*.aux
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.log
*.lof
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdfsync