services:
  frontend:
    build:
      context: ../apps/frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
    env_file:
      - ../apps/frontend/.env
    networks:
      - app-network

  backend:
    build:
      context: ../apps/backend
    ports:
      - "4000:4000"
    depends_on:
      - mongo
      - redis
      - ai-service
    env_file:
      - ../apps/backend/.env
    environment:
      - MONGO_URI=mongodb://mongo:27017/emailhub
      - REDIS_URL=redis://redis:6379
      - AI_SERVICE_URL=http://ai-service:5000
    networks:
      - app-network

  ai-service:
    build:
      context: ../apps/ai-service
    ports:
      - "5000:5000"
    env_file:
      - ../apps/ai-service/.env
    networks:
      - app-network

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

networks:
  app-network:

volumes:
  mongo_data:
  redis_data:
